<div class="inline" style="float: left;">
        <img class="img-size" (click)="medicalAttention()" src="https://i.guim.co.uk/img/media/ed3ce8d4f807adfa89e513e36b2b19bb3ac24b13/0_194_5000_2999/master/5000.jpg?width=300&quality=85&auto=format&fit=max&s=b418ca9f91ec0c93c6790c4129a3a8af" alt="medical">
</div>
<div class="inline" style="float: right;">
    <img class="img-size" (click)="dogNeeds()" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK2lgk4sLtCqrMsZ3PuVyysvkbBEOhikD-J4bp31xnlUkpY1niXw" alt="dogNeeds">
</div>


